extends ../layout 
include ../mixins/video

block content 
  form(method="GET")
    input#search(type="text", name="keyword", placeholder="Search by Title")
    button(type="submit") Search Now!

  if(keyword)
    article
      h4.semi-title Search for: #{keyword}
      hr.divider-grey
      if videos.length === 0
        span.no-video-message No results found 🥹
      else
        .video-grid
          each video in videos
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)


