mixin video(item)
  div
    h4
      a(href=`/videos/${item.id}`)=item.title 
    p=item.description
    each hashtag in item.hashtags
      kbd=hashtag
      span  
    small=item.formattedDate
    hr