@use "../config/variables" as v;

.upload-box {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 4rem;
  margin-bottom: 5rem;

  .record-video {
    width: 50%;
    background-color: v.$secondary;
    border-radius: 2rem;
  }

  form {
    width: 50%;
  }
}

#show-preview {
    background-color: v.$tertiary;
    color: rgba(v.$primary, 0.7);
    font-family: v.$header-font;
    font-size: 1.3rem;
    line-height: 1.2;
    width: 100%;
    padding: 2rem 1.2rem;
    border: 2px solid v.$tertiary;
    margin: 0.5rem 0;
  
    &:hover {
      opacity: 80%;
      cursor: pointer;
    }
}