@use "../config/variables" as v;

footer {
  font-family: v.$body-font;
  font-size: 0.8rem;
  padding: 2rem 1rem;
  border-top: 2px solid v.$quaternary;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .footer--link {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}
