@use "../config/variables" as v;

.auth-switch {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 8rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.auth-switch-link {
  text-decoration: underline;
  @include v.underline-style;
}

.auth-switch-message {
  display: inline-block;
}

.semi-title {
  font-size: 1.2rem;
  font-weight: 700;
  width: 95%;
  margin: 3rem auto 0 auto;
}