@use "../config/variables" as v;

.auth-switch {
  width: 70%;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.auth-switch-link {
  text-decoration: underline;
  @include v.underline-style;
}

.auth-switch-message {
  display: inline-block;
}

.semi-title {
  font-size: 1.2rem;
  font-weight: 700;
  width: 95%;
  margin: 3rem auto 0 auto;
}

.spinner {
  width: 48px;
  height: 48px;
  border:10px solid #FFF;
  border-radius: 50%;
  position: relative;
  transform:rotate(45deg);
  box-sizing: border-box;
  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    inset:-10px;
    border-radius: 50%;
    border:10px solid #FF3D00;
    animation: prixClipFix 2s infinite linear;
  }
}

@keyframes prixClipFix {
  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
  25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
  100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}