// @use "@/client/scss/config/_variables.scss" as v;
@use "../config/_variables.scss" as v;

.side-bar {
  font-family: v.$header-font;
  width: 15%;
  min-width: 160px;
  max-height: 100vh;
  max-height: 100dvh;
  position: sticky;
  top: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  nav {
    flex: 1;
  }

  .nav-link {
    display: flex;
    align-items: center;
    gap: 2rem;
    min-height: 2.5rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1.2rem;
  }
  .active {
    background-color: v.$quaternary;
  }
}