extends layout
include mixins/video

block content-header
block content
  if loggedInUser
    article.home--user-message
      strong Hello, #{loggedInUser.nickname}! Welcome 🤗

  if videos.length === 0
    span.no-video-message No Video Yet 🥹
  else
    .video-grid
      each video in videos
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)
        +video(video)