extends layout
include mixins/video

block content
  if loggedInUser
    article.pico-background-violet-100
      strong Hello, #{loggedInUser.nickname}! Welcome 🤗
  each video in videos
    +video(video)
  else
    span No Video Yet 🥹