doctype html
html(lang="ko-KR")
  head
    title #{pageTitle} | #{siteName}
    link(rel="stylesheet", href="/static/css/styles.css")

  body
    include partials/header
    div.container
      include partials/side-bar
      main
          block content-header
            h2.page-title=pageTitle
            hr.title--divider
          block content
    script(src="/static/js/main.js") 