extends layout 
include mixins/error

block content
  if errorMsg 
    +error(errorMsg)
  
  form(method="POST")
    label(for="username") Username
    input(name="username", type="text", required, placeholder="Username", value=oldData? oldData.username : "")
    label(for="password") Password 
    input(name="password", type="password", required, placeholder="Password")
    button(type="submit") Login

  strong
    a(href="/users/github/start") Continue with GitHub &rarr;

  br
  
  hr
  div
    span(style={"display":"inline-block"}) Don't have an account yet? 
    strong 
      a(href="/join") Register now &rarr;