footer 
  a(href="https://github.com/eafiseemn/wetube" rel="noopener noreferrer").footer--link 
    img(src="/assets/github.svg", alt="" aria-labelledby="link-to" width="32px")
    span#link-to GitHub (@eafiseemn)
  span &copy; #{new Date().getFullYear()} Wetube Clone Coding - All rights reserved