extends ../layout
include ../mixins/error

block content
  if errorMsg 
    +error(errorMsg)
    
  form(method="POST")
    label(for="oldPassword") Old Password 
    input(name="oldPassword", id="oldPassword", type="password", required, placeholder="Old Password")
    label(for="newPassword") New Password 
    input(name="newPassword", id="newPassword", type="password", required, placeholder="New Password")
    label(for="newPasswordConfirm") New Password Confirm
    input(name="newPasswordConfirm", id="newPasswordConfirm", type="password", required, placeholder="New Password Confirm")
    button(type="submit") Change Password
    input(type="button" class="pico-background-red-500 cancelEditBtn" style={"border": "none"} value="Cancel")