extends ../layout 
include ../mixins/error

block content
  if errorMsg 
    +error(errorMsg)
  
  form(method="POST")
    label(for="username") Username
    input(id="username", name="username", type="text", required, placeholder="Username", value=oldData? oldData.username : "")
    label(for="password") Password 
    input(id="password", name="password", type="password", required, placeholder="Password")
    button(type="submit") Login

  include ../partials/social-login
  
  hr.divider
  div.auth-switch
    span.auth-switch-message Don't have an account yet? 
    strong.auth-switch-link
      a(href="/join") Register now &rarr;