extends ../layout 
include ../mixins/error

block content
  if errorMsg 
    +error(errorMsg)
  
  form(method="POST")
    label(for="username") Username
    input(id="username", name="username", type="text", required, placeholder="Username", value=oldData? oldData.username : "")
    label(for="password") Password 
    input(id="password", name="password", type="password", required, placeholder="Password")
    button(type="submit") Login

  span.social--divider-text OR Continue with
  a(href="/users/github/start").social-login-button
    img(src="/assets/github.svg", alt="" aria-labelledby="link-to" width="32px")
    span#link-to GitHub
  
  hr.divider
  div.login--switch-to-join
    span.login--join-message Don't have an account yet? 
    strong.login--join-link
      a(href="/join") Register now &rarr;